---
version: 2.1

orbs:
  # https://circleci.com/developer/orbs/orb/circleci/go
  go: circleci/go@1.5.0

executors:
  docker_executor:
    docker:
      - image: chatwork/circleci-docker:18.09.3
    working_directory: /root/project

workflows:
  version: 2
  main:
    jobs:
      - go_build:
          filters:
            tags:
              only: /.*/
      - docker_build_and_bush:
          context: "DockerHub"
          filters:
            tags:
              only: /^.*/
            branches:
              ignore:
                - /^.*/

jobs:
  go_build:
    executor:
      name: go/default
      tag: '1.15'
    steps:
      - checkout
      - go/mod-download-cached
      - run:
          name: Enforce Go Formatted Code
          command: "! go fmt ./... 2>&1 | read"
      - run:
          name: Install GolangCI-Lint
          command: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s v1.15.4
      - run:
          name: Run GolangCI-Lint
          command: ./bin/golangci-lint run --tests --disable-all --enable=goimports --enable=golint --enable=govet --enable=errcheck --enable=staticcheck
      - run: make

  docker_build_and_bush:
    executor: docker_executor
    environment:
      - CIRCLECI_WORKSPACE: /root/project
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 18.09.3
      - run: docker login -u="${DOCKER_REGISTRY_USERNAME}" -p="${DOCKER_REGISTRY_PASSWORD}"
      - run: make build-image
      - run: make push-image